.container-fluid {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: all .3s ease-in;
}

.modal-backdrop.fade.show {
    z-index: 4;
}

.modal-body.modalXemGia {
    max-height: 325px;
    overflow-y: auto;
}

.modal-dialog.modalXemGia {
    max-width: 432px;
}

.modalXemGia .row .col-6 .menu-list .nav-link {
    font-size: 15px;
}

.modalXemGia .row .col-6 .menu-list .nav-link:hover {
    color: #d70018;
    background-color: #f9aab6;
    border-radius: 5px 5px 5px 5px;
}

.goiMuaHang .nav-link,
.cuaHangGanNhat .nav-link,
.traCuuDonHang .nav-link,
.gioHang .nav-link,
.gioiThieu .nav-link {
    border-radius: 10px 10px 10px 10px;
}

.goiMuaHang .nav-link:hover,
.cuaHangGanNhat .nav-link:hover,
.traCuuDonHang .nav-link:hover,
.gioHang .nav-link:hover,
.gioiThieu .nav-link:hover {
    background-color: #f77488;
}

.navbar p {
    font-size: 13px;
}

.navbar .nav-item {
    height: auto;
}

.navbar .nav-item {
    height: 45px;
}

button.btn.btn-danger {
    height: 42px;
    border-radius: 10px 10px 10px 10px;
}

.input-group.mt-1 {
    padding-top: 2px;
}

.input-group-text {
    border-radius: 15px;
}

input#search {
    border-radius: 0px 15px 15px 0px;
}

.modal-dialog.login {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 350px;
    height: 270px;
    padding: 15px;
    text-align: center;
}

.modal-content {
    border: none;
}

.group-login-btn {
    display: flex;
    gap: 16px;
}

.register-btn {
    display: flex;
    background: linear-gradient(90deg, #ff512f, #dd2440 51%, #ff512f);
    box-shadow: 0 0 20px #eee;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #dd2440;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    user-select: none;
    flex: 1;
    padding: 10px;
    font-weight: 600;
    transition: 5s;
    cursor: pointer;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(90deg, #ff512f, #dd2440 51%, #ff512f);
    background-size: 200% auto;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    transition: 5s;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.text p {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    padding: 1px;
    text-align: center;
}

button.modal-close.rounded-circle {
    height: 25px;
    width: 25px;
    position: relative;
    left: 15px;
    bottom: 15px;
    background: hsla(0, 0%, 4%, .2);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 18px;
}

button.modal-close.rounded-circle:hover {
    background: hsla(0, 0%, 4%, .5);
}


/* tim kiem san pham goi y  */

#searchSuggestions {
    position: absolute;
    top: 65px;
    left: 395px;
    z-index: 999;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 510px;
    max-height: 300px;
    overflow-y: auto;
}

#searchSuggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchSuggestions li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#searchSuggestions li:last-child {
    border-bottom: none;
}

#searchSuggestions img {
    width: 50px;
    /* Adjust this value to your preference */
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

#searchSuggestions a {
    color: #333;
    text-decoration: none;
}

#searchSuggestions a:hover {
    color: #007bff;
}

#loginForm {
    padding-bottom: 20px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
}

#loginForm .login_image {
    text-align: center;
    margin: 20px 0;
}

#loginForm .login_image h1 {
    font-size: 22px;
    font-weight: 700;
}


/* Style cho phần tử chứa input và label */

.box-input {
    position: relative;
    margin-bottom: 20px;
}

.input_main {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
}

.input_main:focus {
    /* border-bottom: 1px solid #d70018; Màu cho border-bottom khi input được focus */
}

.input_main:focus+.input_label,
.input_main:not(:placeholder-shown)+.input_label {
    transform: translateY(-20px);
    font-size: 12px;
    color: #d70018;
    /* Màu cho label khi input được focus */
    opacity: 1;
    visibility: visible;
}

.input_label {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
    /* Ban đầu label ẩn */
    visibility: hidden;
    /* Làm cho label không hiển thị */
}

.box-input_inline {
    position: absolute;
    bottom: 0px;
    /* Điều chỉnh này để đường viền phù hợp với vị trí của bạn */
    height: 2px;
    width: 0;
    background-color: #d70018;
    transition: width 0.4s;
}

.input_main:focus~.box-input_inline {
    width: 100%;
    /* Khi input được focus, đường viền sẽ chạy từ trái sang phải */
}

.forget-pass:hover {
    color: blue;
}

.other hr {
    width: 35%;
}

.social {
    display: flex;
    gap: 30px;
    position: relative;
    right: 388px;
    top: 30px;
}

.login-question {
    margin: 20px 0;
}

.login-question p {
    color: #777;
    font-size: 16px;
    margin-right: 5px;
    float: left;
    padding-left: 210px;
}

.login-question a {
    color: #d70018;
    font-size: 16px;
    font-weight: 600;
    float: left;
}

.chinhSach a:hover {
    font-style: italic;
}

.message {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.success {
    background-color: #28a745;
    /* Màu xanh */
}

.error {
    background-color: #dc3545;
    /* Màu đỏ */
}